@charset "utf-8";


.jumbotron {
  position: relative;
}


.jumbotron img {
  width: 100%;
}


.jumbotron h1 {
  position: absolute;
  color: whitesmoke;
  font-family :Quicksand, fantasy;
  font-size: 32px;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.container a {
  color: #555555;
}

.works {
  text-align: center;
}


.home{
  font-family :Quicksand, fantasy;
}


.about h3 {
  font-weight: bold;
}


.about_text p {
  line-height: 36px;
}
