@charset "utf-8";


.jumbotron {
  position: relative;
}


.jumbotron h1 {
  position: absolute;
  color: whitesmoke;
  font-family :Quicksand, fantasy;
  font-size: 32px;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.container a {
  color: #555555;
}


.jumbotron img {
  width: 100%;
}


.home{
  font-family :Quicksand, fantasy;
}


.about {
  text-align: center;
  font-family :Quicksand, fantasy;
}


.about a{
  font-size: 50px;
  color: #555555;
}


.works {
  text-align: center;
  font-family :Quicksand, fantasy;
}


.works a{
  font-size: 50px;
  color: #555555;
}


.news {
  text-align: center;
  font-family :Quicksand, fantasy;
}

.news a{
  font-size: 50px;
  color: #555555;
}


.contact {
  text-align: center;
  font-family :Quicksand, fantasy;
}

.contact a{
  font-size: 50px;
  color: #555555;
}